.web-name {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  form {
    margin-bottom: 2rem;
  }
  
  .stars {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  
  textarea {
    width: 300px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .review-card {
    position: relative; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  
  .average-rating-stars {
    display: flex;
    gap: 10px;
  }
  
  hr {
    margin: 20px 0;
  }
  
  /* Star styles */
  .filled-star {
    color: #FFD700; /* Gold color for filled stars */
  }
  
  .empty-star {
    color: #CCCCCC; /* Grey color for empty stars */
  }
  
  .delete-btn {
    position: absolute; /* Position the button absolutely */
    top: 10px; /* Adjust the position from the top */
    right: 10px; /* Adjust the position from the right */
    background: none; /* No background for the button */
    border: none; /* No border */
    color: hwb(0 30% 0%); /* Red color for the delete button */
    font-size: 1.2rem; /* Size of the X */
    cursor: pointer; /* Pointer cursor */
  }
  
  .delete-btn:hover {
    color: #ff3333; /* Darker red on hover */
  }
  