.navbar {
  width: 100%;
  background-color: #C4BB9B;
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  width: 200px;
  height: 60px;
  margin-right: 20px;
  cursor: pointer;
  float: center;
  margin-bottom: 5px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between buttons */
  float: left;
  bottom-margin: 0px;
}

.nav-container button {
  width: 150px; /* Set a fixed width for all buttons */
  height: 50px; /* Set a fixed height for all buttons */
  padding: 0; /* Remove padding since height is fixed */
  background-color: #C4BB9B;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center; /* Center text inside buttons */
}

.nav-container button:hover {
  background-color: #767868;
  color: #ffffff;
}

.nav-container button:active {
  transform: scale(0.98);
}

.nav-container-signOut {
    float: right;
    margin-right: 5px;
}

.content {
  padding-top: 60px; /* Prevent content from being hidden behind the navbar */
  margin: 20px;
}
