.navbar {
  width: 100%;
  background-color: #C4BB9B;
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  width: 200px;
  height: 60px;
  margin-right: 20px;
  cursor: pointer;
  float: center;
  margin-bottom: 5px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Space between buttons */
  float: left;
}

.nav-container button {
  width: 100px; /* Set a fixed width for all buttons */
  height: 50px; /* Set a fixed height for all buttons */
  padding: 0; /* Remove padding since height is fixed */
  background-color: #C4BB9B;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center; /* Center text inside buttons */
}

.nav-container button:hover {
  background-color: #767868;
  color: #ffffff;
}

.nav-container button:active {
  transform: scale(0.98);
}

.nav-container-signOut {
    float: right;
    margin-right: 5px;
}

.content {
  padding-top: 60px; /* Prevent content from being hidden behind the navbar */
  margin: 20px;
}

.course-bubbles {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.course-bubble {
  padding: 20px 30px; /* Reduce padding for smaller buttons */
  background-color: rgba(173, 134, 36, 0.771);;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 24px; /* Smaller text size */
  min-width: 400px;
  max-width: 500px; /* Limit the button width */
  height: 60px;
  text-align: center; /* Center text within the button */
  overflow: hidden; /* Hide overflow if text exceeds max-width */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
  white-space: nowrap; /* Prevent text wrapping */
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.course-bubble:hover {
  background-color: hwb(50 13% 21% / 0.771);
  transform: scale(1.1);
}

button {
    background-color: #C59432;
    color: black;
}
